
.header{
   display: flex;
   flex-grow:1;
}

.header h1{
  position: relative;
  right: 400px;
  padding-right: 100px;
}

body{
  font-family: 'Courier New', Courier, monospace;
}

hr.gradient {
  height: 3px;
  width: 90%;
  border: none;
  border-radius: 6px;
  background: linear-gradient(
    90deg,
    #181F1C 0%,
    #274029 21%,
    #315C2B 51%,
    #60712F 100%
  );
}

.vl{
  display: flex;
  flex-direction: column;
  position: relative;
  top: 50px;
  gap: 10px;
}


body {
  background-color: rgb(255, 255, 255);
}

h1 {
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 50px;
  
}

p {
  
  font-size: 20px;
}

#logo{
  width: 30%;
  height: auto;
  top: 20px;
  left: 50px;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #274029;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #315C2B;
}

.grass {
  position: relative;
  top: 200px;
  left: 50px;

}

.container {
  position: relative;
  width: 100%;
  max-width: 600px;
}

.container img {
  width: 100%;
  height: auto;
  top: 200px;
  left: 50px;

}

.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  color: black;
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.container .btn:hover {
  background-color: black;
  color: white;
}

